*{margin:0;
padding;0:}
.cabecalho{
    background-color: #9a8b46;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: large;
    
}
.cabecalho-img{
    width:20%
} 
section {
    background-color: rgb(206, 193, 106);
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.Antigo1-imagem{
    width:30%
}
.O-Ignorante-Antigo{
    background-image:(#bbc368,#919653b2 );
}
    

